---
import Layout from '~/layouts/Layout.astro';
import Logo from '~/components/Logo.astro';
import Hero from '~/components/widgets/Hero.astro';

const title = `Plan to relieve anxiety`;
---

<Layout metadata={{ title }}>
    <Hero
    image={{ src: '~/assets/images/hero-image-o.png', alt: 'Hiajoy stress management, stress and anxiety relieve' }}
  >
    <Fragment slot="title">
      A Calm, <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> Happy </span> and Fulfilling Life
    </Fragment>

    <Fragment slot="subtitle">
      Welcome to Hiajoy, a recharging station, a calm space, and a sanctuary for your stressed and anxious mind. You may had been battered, exhausted, desperate and full of doubts. 
      Yet, anxiety can get better, much better, and the only way to get there is through you. It is not an easy journey but it is much easier compare to other issues. 
      Learn more about it and get the quick and slow relieve. My brave soul, you deserve your life back.
   
    </Fragment>
  </Hero>
  <Logo />
</Layout>
